.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
margin:auto;
}

th,td {
border-bottom: 1px solid #ddd;
width: 5cm;
color: rgb(201, 129, 167);
}

.field {

border:1px solid black;
padding: 15px;
width: 25cm;
margin-top: 0;
}

legend {

text-align: left;
color: pink;

}

h1 {
background-color:pink;
margin: 0;
padding: 10px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
color: white;
}

